:root {
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-primary-500: hsl(158, 36%, 27%);
  --clr-secondary-200: hsl(30, 38%, 92%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-accent: "Fraunces", serif;
  --ff-base: "Montserrat", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  General styling
*/
h1, h2, h3 {
  line-height: 1;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-400);
  font-size: 0.875rem;
  background-color: var(--clr-secondary-200);

  /* For this project only */
  display: grid;
  place-content: center;
  margin: 1rem;
}

.flex-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.product {

  --content-padding: 1.5rem;
  --content-spacing: 1rem;

  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  max-width: 600px;
}

@media (min-width: 600px) {
  .product {
    --content-padding: 2rem;

    grid-template-columns: 1fr 1fr;
  }
}

.product__content {
  display: grid;
  gap: var(--content-spacing);
  padding: var(--content-padding);
}

.product__category {
  letter-spacing: 6px;
  text-transform: uppercase;
}

.product__title {
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-bold);
}

.product__description {
  line-height: 1.6rem;
}

.product__original-price {
  text-decoration: line-through;
}

.product__price {
  color: var(--clr-primary-400);
  font-size: 2rem;
  font-weight: var(--fw-bold);
  font-family: var(--ff-accent);
}

.product__button {
  display: inline-flex;
  justify-content: center;
  gap: 0.75rem;

  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  padding: 1rem;
  border: 0;
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.product__button[data-icon="shopping-cart"]::before {
  content: "";
  width: 15px;
  height: 16px;
  background-image: url("images/icon-cart.svg");
}

.product__button:is(:hover, :focus) {
  background-color: var(--clr-primary-500);
}